@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="profile-container">
    <a class="btn btn-outline-dark" href="/Account/Profile">
        <i class="bi bi-person-circle"></i>
        <span>Hồ sơ cá nhân</span>
    </a>
</div>
